# Run this docker-compose to test the database functionality locally.
# Ensure you have Docker Desktop installed in your local machine. 
# - Check "Next Steps" in https://docs.docker.com/desktop/ for instructions.

services:
  # Connect to MongoDB database using mongosh
  # Use this command> $ mongosh "mongodb://username:password@localhost:27017/test?authSource=admin"
  mongo:
    image: mongo:latest

    container_name: dev_mongo

    ports:
      - '27017:27017'

    networks:
      - dev_net

    volumes:
      - mongodb:/data

    secrets:
      - mongo_user
      - mongo_pass

    environment:
      MONGO_INITDB_ROOT_USERNAME_FILE: /run/secrets/mongo_user
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_pass

    restart: always

networks:
  dev_net:

volumes:
  mongodb:

# !IMPORTANT!
# If in your local repository you do not have a /secrets folder, ensure you create this directory
# Within it, include ALL the files listed below containing the required credentials
#            to properly connect to the containers deployed
secrets:
  mongo_user:
    file: secrets/mongo_user.txt
  mongo_pass:
    file: secrets/mongo_pass.txt