MONGO_URI=
PORT=
DEFAULT_AI_KEY=
DEFAULT_AI_MODEL=
PROVIDER_NAME=
PROVIDER_BASE_URL=
PROVIDER_RATE_LIMIT_ENDPOINT=

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URI=
REDIRECT_URI_FAILURE=
REDIRECT_URI_LOGIN=